@media (min-width: 768px){
    .product:hover{
        box-shadow: 0px 0px 50px rgba(23, 97, 172, 0.13);
    }
}

@media (max-width: 1600px){
    .intro{
        padding: 88px 0 180px;
    }
}
@media (max-width: 1366px) {
    .header__logoWrapper {
        margin-right: 45px;
    }
    .header__phoneWrapper {
        width: 35px;
        height: 35px;
    }
    .header__phone {
        font-size: 18px;
    }
    .default-btn {
        padding: 12px 0;
        font-size: 13px;
    }
    .header__btn {
        width: 170px;
    }
    .header__language {
        padding: 12px;
        font-size: 14px;
    }
    .header__top {
        padding: 20px 0 12px;
    }
    .header__bottom {
        padding: 12px;
    }
    .intro-bottom__card {
        padding: 12px 20px;
    }
    .intro-bottom__inner .col-sm-6:nth-child(2n+2)>.intro-bottom__card{
        padding: 12px 8px;
    }
    .whowe__content{
        padding-top: 0;
    }
    .map-card {
        top: 95px;
        width: 260px;
        padding: 25px;
    }
}

@media (max-width: 1024px) {
    .header__logoText {
        max-width: 210px;
        padding-bottom: 0;
    }
    .header__logoWrapper {
        margin-right: 10px;
    }
     .intro {
        padding: 55px 0 95px;
    }
    .catalogofproducts__sort{
        justify-content: space-evenly;
    }
    .catalogofproducts__sort-item {
        font-size: 16px;
        padding: 6px 10px;
        margin-left:2px;
        margin-right:2px;
    }
    .anyquestion2 {
        background-position: -230px;
    }
    .contactinfo__info-wrapper>a{
        margin-bottom: 15px;
    }
}
@media (max-width: 992px){
    .intro {
        padding: 42px 0 75px;
    }
    .intro__swiper-item{
        max-width: 413px;
    }
    .intro__title{
        font-size: 30px;
    }
    .anyquestion{
        padding: 35px 0;
    }
    .form__input-group>input, .form__textarea, .anyquestion__header{
        margin-bottom: 15px;
    }
    .form__input-group>input, .form__textarea{
        padding: 8px 18px;
    }
}
@media (max-width: 991px){
    .map-card{
        display: none;
    }
    .map__content{
        height: 400px;
    }
    .aboutus__inner>.row{
        margin-bottom: 50px;
    }
    .aboutus__inner>.row:nth-child(3){
        flex-direction: column-reverse;
    }
    .aboutus__text-wrapper{
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .header__logoText {
        display: none;
    }
    .header__logoLink {
        margin-right: 0;
    }
    .header__navItem {
        margin-right: 30px;
    }
    .product__img-wrapper{
        width: 100%;
        height: unset;
    }
    .anyquestion__title{
        line-height: 1.3;
    }
    .drug__inner{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .drug__photo-wrapper{
        margin-right: 0;
    }
    .drug__info{
        margin-bottom: 25px;
    }
    .contactinfo__title{
        margin-bottom: 15px;
    }
    .footer__logo-wrapper{
        text-align: center;
        margin-bottom: 22px;
    }
    .footer__logo-text{
        max-width: 277px;
        margin: 0 auto;
    }
    .footer__link-store{
        justify-content: space-around;
    }
    .footer__socials{
        text-align: center;
    }
    .footer__btn {
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
@media (max-width: 767px){
    .whowe__photo{
        width: 60%;
    }
    .product{
        box-shadow: 0px 0px 15px rgba(23, 97, 172, 0.09);
    }
    .product__btn{
        width: 80%;
    }
    .whowe__inner>.row{
        flex-direction: column-reverse;
    }
    .whowe__content{
        margin-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .header__logoLink {
        max-width: 150px;
    }
    .header__logo {
        max-height: 58px;
    }
    .header__phone {
        display: none;
    }
    .header__nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 60%;
        padding: 50px;
        background-color: #fff;
        transform: translateX(-100%);
        z-index: 101;
        transition: .3s;
    }
    .header__nav.active {
        transform: translateX(0);
    }
    .header__navItem {
        display: block;
        margin-right: 0;
        margin-bottom: 35px;
    }
    .menu-close {
        display: block;
    }
    .menu{
        display: block;
    }
    .mob-header__phone{
        display: flex;
    }
    .intro__swiper-item {
        max-width: 406px;
    }
    .intro-bottom__card{
        height: 150px;
    }
    .intro__title {
        font-size: 28px;
        line-height: 1.3;
    }
    .whowe{
        padding: 40px 0;
    }
    .whowe__photo{
        width: 70%;
    }
    .catalogoofproducts {
        padding: 50px 0 20px;
    }
    .catalogoofproducts__header{
        margin-bottom: 25px;
    }
    .catalogoofproducts__header::after {
        bottom: -8px;
    }
    .product{
        padding: 15px;
    }
    .product__title, .product__name{
        margin-bottom: 7px;
    }
    .product__text{
        margin-bottom: 18px;
    }
    .product__info{
        margin-bottom: 16px;
    }
    .anyquestion__inner{
        width: 100%;
    }
    .anyquestion__header{
        text-align: center;
    }
    .breadcrumb {
        margin: 5px 0 35px;
    }
    .Modal{
        max-width: 350px;
    }
    .Modal__title{
        font-size: 24px;
    }
    .Modal__input, .Modal__textarea {
        padding: 5px 0;
    }
    .Modal__textarea{
        height: 80px;
    }
    .Modal__btn {
        padding: 10px 0;
    }
}
@media (max-width: 540px){
    .catalogoofproducts__heart-beat{
        width: 35px;
        height: 20px;
    }
    .catalogoofproducts__title{
        margin: 0 5px;
        font-size: 27px;
        line-height: 1;
        text-align: center;
    }
    .catalogoofproducts__btn{
        max-width: 218px;
    }
}
@media (max-width: 425px) {
    .header__logoLink {
        max-width: 130px;
    }
    .header__logo {
        max-height: 44px;
    }
    .header__phoneWrapper {
        margin-right: 10px;
    }
    .header__phoneWrapper>svg {
        width: 15px;
        height: 15px;
    }
    .header__phoneNumber {
        font-size: 16px;
    }
    .header__btn {
        width: 132px;
    }
    .default-btn {
        padding: 10px;
        font-size: 11px;
    }
    .header__language {
        padding: 10px;
        box-shadow: 0px 0px 5px rgb(0 0 0 / 12%);
    }
    .header__language>img {
        margin-right: 3px;
        width: 18px;
    }
    .header__nav{
        width: 70%;
    }
    .intro-bottom__card, .intro-bottom__inner .col-sm-6:nth-child(2n+2)>.intro-bottom__card{
        height: 160px;
        padding: 12px 0;
    }
    .catalogofproducts__sort-item:first-child{
        width: 75%;
    }
    .product__btn{
        width: 100%;
    }
    .form__input-group>input{
        width: 100%;
    }
    .map__content{
        height: 350px;
    }
    .title{
        font-size: 27px;
    }
    .drug__photo-wrapper{
        width: 80%;
    }
    .anyquestion2 {
        background-position: -360px;
    }
    .contactinfo{
        margin-bottom: 30px;
    }
    .footer__logo-wrapper>.header__logoLink>.header__logo{
        max-height: 50px;
        max-width: 130px;
    }
    .footer__logo-wrapper{
        text-align: left;
    }
    .footer__list {
        width: 100%;
        text-align: left;
    }
    .footer__logo-text{
        display: none;
    }
    .footer__link-store{
        justify-content: flex-start;
    }
    .footer__socials{
        text-align: left;
    }
    .footer__btn{
        margin-left: 0;
    }
    .Modal {
        max-width: 78%;
        padding: 15px 10px;
    }
}

@media (max-width: 375px) {
    .header__logoWrapper {
        margin-right: 5px;
    }
    .header__logoLink {
        max-width: 105px;
    }
    .header__logo {
        max-height: 40px;
    }
    .header__phoneWrapper {
        width: 33px;
        height: 33px;
    }
    .default-btn {
        padding: 8px;
        font-size: 10px;
    }
    .header__language {
        padding: 8px;
    }
    .header__bottom{
        padding: 10px;
    }
    .catalogoofproducts__btn{
        max-width: 200px;
    }
    .catalogofproducts__sort-item:last-child{
        width: 75%;
    }
    .footer__list-link{
        margin-bottom: 18px;
    }
    .Modal {
        max-width: 85%;
    }
}

@media (max-width: 320px) {
    .header__btn {
        width: 118px;
    }
    .intro-bottom__card, .intro-bottom__inner .col-sm-6:nth-child(2n+2)>.intro-bottom__card{
        height: 190px;
    }
    .drug__info-wrapper>div>div>span, .drug__info-wrapper>div>span{
        font-size: 13px;
    }
    .anyquestion2 {
        background-position: -500px;
    }
}